<div class="container">
  <h4>Please login to your account</h4>
  <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <hb-textinput [control]="loginForm.controls.email" type="email" placeholder="" [required]="true" label="Email" [ngClass]=""
        [inputGroup]="true" requiredErrorMessage="Please enter Email" emailErrorMessage="Please enter valid Email">
        <span class="p-inputgroup-addon" leftIcon>
          <i class="pi pi-envelope"></i>
        </span>
        <ng-container errorMessages>
          <small class="block text-danger" *ngIf="loginForm.get('email')?.errors?.['required']">Please enter your
            email ID.</small>
          <small class="block text-danger" *ngIf="loginForm.get('email')?.errors?.['email']">Please enter valid
            email ID.</small>
        </ng-container>
      </hb-textinput>
    </div>
    <div class="field">
      <hb-textinput [control]="loginForm.controls.password" [isPassword]="showPassword" [inputGroup]="true"
        placeholder="" label="Password" [required]="true" requiredErrorMessage="Please enter Password">
        <span class="p-inputgroup-addon" leftIcon><i class="pi pi-lock"></i></span>
        <span class="p-inputgroup-addon" style="cursor: pointer" rightIcon (click)="togglePassword()"><i class="pi"
            [ngClass]="{
          'pi-eye-slash': showPassword,
          'pi-eye': !showPassword
        }"></i></span>
        <ng-container errorMessages>
          <small class="block text-danger" *ngIf="loginForm.get('password')?.errors?.['required']">Please enter
            your password.</small>
          <small class="block text-danger" *ngIf="loginForm.get('password')?.errors?.['pattern']">Password must be
            at least 8 characters long, have 1 uppercase
            letter, 1 lowercase letter, and 1 number</small>
        </ng-container>
      </hb-textinput>
      <div class="d-flex justify-content-between mt-3">
        <div class="field-checkbox">
          <p-checkbox [binary]="true" inputId="binary" formControlName="rememberMe"
            class="align-text-top me-2"></p-checkbox>
          <label for="binary" class="tC">Remember Me</label>
        </div>
        <a routerLink="/forgot-password" class="forgot-password-link">Forgot Password?</a>
      </div>
    </div>
    <button pButton type="submit" class="hb-btn p-button-primary" label="Login" [disabled]="loginForm.invalid"></button>
  </form>
</div>
<p-toast></p-toast>